<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Report Generator</title>
    <link rel="stylesheet" href="/styles.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <div class="header">
      <button id="generate-report" class="bn3637 bn36">Generate Report</button>
      <button id="generating" class="bn3637 bn36" style="display: none">
        Generating ...
      </button>

      <a
        href="https://docs.google.com/spreadsheets/d/1b1lgNZRZp3hnZ7zwdAdCxw0NT7Kg8SwWV6zQX2WPoak/edit#gid=1625641304"
        target="_blank"
        >Link to SpreadSheet</a
      >
    </div>

    <div class="loading" id="loading">
      <div class="lds-ring">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <h1>Loading ...</h1>
    </div>
    <div class="chart-section"></div>

    <script src="/script.js"></script>
  </body>
</html>
