body {
  padding: 0;
  margin: 0;
  color: black;
}

.bn3637 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: #000000;
  backface-visibility: hidden;
  border: 2px solid black;
  border-radius: 8px;
  padding: 16px 24px;
}

.bn36 {
  transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}

.bn36:hover {
  transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}

/* .charts {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 24px;
} */

#lighthouse {
  width: 100%;
  min-height: 400px;
}

.header {
  position: sticky;
  top: 0;
  z-index: 4;
  background-color: whitesmoke;
  padding: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}

.chart-section {
  padding: 24px;
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}
.chart-section > div {
  width: 90%;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
hr {
  margin: 32px 0;
}
h2 {
  font-size: 24px;
}

@media only screen and (max-width: 900px) {
  .chart-section {
    grid-template-columns: auto;
  }
}

.lds-ring,
.lds-ring div {
  box-sizing: border-box;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid currentColor;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: currentColor transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 60vh;
}
